In [1]:
#!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.8.6-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6

In [ ]:
#psql \! chcp 1251

In [2]:
import psycopg2  
try:  
    connection = psycopg2.connect(user = "postgres",  
                                  password = "19970908",  
                                  host = "127.0.0.1",  
                                  port = "5432",  
                                  database = "sf_test")  
    cursor = connection.cursor()  
    cursor.execute("SELECT version();")  
    record = cursor.fetchone()  
    print("You are connected to - ", record[0], "\n")  
except (Exception, psycopg2.Error) as error:  
    print("Error while connecting to PostgreSQL", error)  
finally:  
    if (connection):  
        cursor.close()  
        connection.close()  
        print("PostgreSQL connection is closed")

You are connected to -  PostgreSQL 11.11, compiled by Visual C++ build 1914, 64-bit

PostgreSQL connection is closed

In [4]:
((1.1*0.9)**0.5)*100=99.4987

99.498743710662

In [ ]:
15000

In [1]:
import psycopg2  
try:  
    connection = psycopg2.connect(user = "postgres",  
                                  password = "19970908",  
                                  host = "127.0.0.1",  
                                  port = "5432",  
                                  database = "sf_test")  
    cursor = connection.cursor()  
      
    create_table_query = '''CREATE TABLE mobile 
          (ID INT PRIMARY KEY     NOT NULL, 
          MODEL           TEXT    NOT NULL, 
          PRICE         REAL); '''  
      
    cursor.execute(create_table_query)  
    connection.commit()  
    print("Table created successfully in PostgreSQL ")  
except (Exception, psycopg2.DatabaseError) as error :  
    print ("Error while creating PostgreSQL table", error)  
finally:   
        if(connection):  
            cursor.close()  
            connection.close()  
            print("PostgreSQL connection is closed")

Table created successfully in PostgreSQL
PostgreSQL connection is closed

In [5]:
try:  
    connection = psycopg2.connect(user="postgres",  
                                  password="19970908",  
                                  host="127.0.0.1",  
                                  port="5432",  
                                  database="sf_test")  
    cursor = connection.cursor()  
    postgres_insert_query = """ INSERT INTO mobile (ID, MODEL, PRICE) VALUES (%s, %s, %s)"""  
    record_to_insert = (5, 'One Plus 6', 950)  
    cursor.execute(postgres_insert_query, record_to_insert)  
    connection.commit()  
    count = cursor.rowcount  
    print (count, "Record inserted successfully into mobile table")    
except (Exception, psycopg2.Error) as error :  
    if(connection):  
        print("Error", error)  
finally:  
    if(connection):  
        cursor.close()  
        connection.close()

1 Record inserted successfully into mobile table

In [19]:
try:  
    connection = psycopg2.connect(user="postgres",  
                                  password="19970908",  
                                  host="127.0.0.1",  
                                  port="5432",  
                                  database="sf_test")  
    cursor = connection.cursor()  
  
    postgreSQL_select_Query = "select model from mobile"  
    cursor.execute(postgreSQL_select_Query)  
    mobile_records = cursor.fetchall()   
    connection.commit()
except (Exception, psycopg2.Error) as error :  
    if(connection):  
        print("Error", error)  
finally:  
    if(connection):  
        cursor.close()  
        connection.close()

In [20]:
mobile_records

[('One Plus 6',), ('Nutella',), ('Iphone XS',), ('Pixel',)]

In [18]:
try:  
    connection = psycopg2.connect(user="postgres",  
                                  password="19970908",  
                                  host="127.0.0.1",  
                                  port="5432",  
                                  database="sf_test")  
    cursor = connection.cursor()  
  
    # Добавление новых строк  
    postgres_insert_query = """ INSERT INTO mobile (ID, MODEL, PRICE) VALUES (%s,%s,%s)"""  
    records_to_insert = [  
        (1, 'Iphone XS', 1050),  
        (2, 'Nutella', 30),  
        (3, 'Pixel', 970)  
    ]  
    for record in records_to_insert:  
        cursor.execute(postgres_insert_query, record)  
  
    # Обновление строк  
    postgreSQL_update_Query = "update mobile set price = 900 where price > 900"  
    cursor.execute(postgreSQL_update_Query)  
    connection.commit()  
except (Exception, psycopg2.Error) as error :  
    if(connection):  
        print("Error", error)  
finally:  
    if(connection):  
        cursor.close()  
        connection.close()

In [22]:
cursor.rowcount

4

In [23]:
try:  
    connection = psycopg2.connect(user="postgres",  
                                  password="19970908",  
                                  host="127.0.0.1",  
                                  port="5432",  
                                  database="sf_test")  
    cursor = connection.cursor()  
  
    query = """delete from mobile where id = %s"""  
    cursor.execute(query, (2,))  
    connection.commit()   
except (Exception, psycopg2.Error) as error :  
    if(connection):  
        print("Error", error)  
finally:  
    if(connection):  
        cursor.close()  
        connection.close()

In [28]:
try:  
    connection = psycopg2.connect(user="postgres",  
                                  password="19970908",  
                                  host="127.0.0.1",  
                                  port="5432",  
                                  database="sf_test")  
    cursor = connection.cursor()  
  
    # Удалим все данные (без условия)  
    cursor.execute("DELETE FROM mobile")
  
    # Теперь вставим строки в таблицу
    sql_insert_query = """ INSERT INTO mobile (id, model, price) VALUES (%s,%s,%s) """  
    records_to_insert = [  
        (1, 'Iphone XS', 1050),  
        (2, 'Nutella', 30),  
        (3, 'Pixel', 970)  
    ]  
    result = cursor.executemany(sql_insert_query, records_to_insert)  
    connection.commit()  
except (Exception, psycopg2.Error) as error :  
    if(connection):  
        print("Error", error)  
finally:  
    if(connection):  
        cursor.close()  
        connection.close()

In [25]:
try:  
    connection = psycopg2.connect(user="postgres",  
                                  password="19970908",  
                                  host="127.0.0.1",  
                                  port="5432",  
                                  database="sf_test")  
    cursor = connection.cursor()  
  
    sql_update_query = """ UPDATE  mobile set model = %s where model = %s """  
    records_to_update = [  
        ('Nutella', 'Iphone XS',),  
        ('Nutella', 'Pixel',)  
    ]  
    result = cursor.executemany(sql_update_query, records_to_update)  
    connection.commit()  
except (Exception, psycopg2.Error) as error :  
    if(connection):  
        print("Error", error)  
finally:  
    if(connection):  
        cursor.close()  
        connection.close()

In [26]:
cursor.rowcount

2

In [27]:
try:  
    connection = psycopg2.connect(user="postgres",  
                                  password="19970908",  
                                  host="127.0.0.1",  
                                  port="5432",  
                                  database="sf_test")  
    cursor = connection.cursor()  
  
    # Найдем список цен, которые не удовлетворяют нашему условию  
    cursor.execute("select price from mobile where price not between 900 and 1000")  
    prices_to_delete = cursor.fetchall()  
  
    # Теперь удалим строки с найденными ценами  
    sql_delete_query = """ DELETE FROM mobile WHERE price = %s """  
    result = cursor.executemany(sql_delete_query, prices_to_delete)  
    connection.commit()    
except (Exception, psycopg2.Error) as error :  
    if(connection):  
        print("Error", error)  
finally:  
    if(connection):  
        cursor.close()  
        connection.close()

In [ ]:
try:  
    connection = psycopg2.connect(user="postgres",  
                                  password="19970908",  
                                  host="127.0.0.1",  
                                  port="5432",  
                                  database="sf_test")  
    cursor = connection.cursor()  
  
   # Наш код будет здесь  
  
except (Exception, psycopg2.Error) as error :  
    if(connection):  
        print("Error", error)  
finally:  
    if(connection):  
        cursor.close()  
        connection.close()

In [63]:
import pandas as pd
import psycopg2
connection = psycopg2.connect(host="localhost",
                             password="19970908",
                             user="postgres",
                             database="sf_test")

In [64]:
cursor = connection.cursor()

In [43]:
connection.commit()

In [69]:
connection.rollback()

In [61]:
cursor.close()  
connection.close()

In [70]:
cursor.execute('select * from mobile')

In [71]:
cursor.fetchall()

[(1, 'Iphone XS', 1050.0), (2, 'Nutella', 30.0), (3, 'Pixel', 970.0)]

In [60]:
pd.read_sql('select * from mobile', connection)

   id      model   price
0   1  Iphone XS  1050.0
1   2    Nutella    30.0
2   3      Pixel   970.0